<div class="head">
   <a href="http://www.bandwidth.com" class="aimg"><div id="headerLogo"></div></a>
   <h2> &#8250;&nbsp; <a href="http://dev.bandwidth.com" style="color: #008db1;">Docs for Developers</a> &nbsp;&#8250;&nbsp; API Reference</h2>
   <ul>
   	<li><a href="https://catapult.inetwork.com/portal/signup" target="_blank"><button class="free-trial">Free trial</button></a></li>
   	<li><a href="https://catapult.inetwork.com/pages/login.jsf" class="headerLink" target="_blank">Log in</a></li>
   	<li><a href="https://support.bandwidth.com/access/unauthenticated" class="headerLink" target="_blank">Support</a></li>
   </ul>
</div>
