<div class="head vmd">
   <a href="http://www.bandwidth.com" class="aimg"><div class="headerLogo vmd"></div></a>
   <h2><a href="https://dev.bandwidth.com">Docs for Developers</a> &nbsp;&#8250;&nbsp; Voice & Messaging API</h2>
   <ul>
   	<li class="headerButton"><a href="https://catapult.inetwork.com/portal/signup" target="_blank"><button class="free-trial">Free trial</button></a></li>
    <li><a href="https://app.bandwidth.com" class="headerLink" target="_blank" id="loginTab">Login</a></li>
    <!-- <li><a href="#" class="headerLink hasSecondary" id="loginTab">Login</a></li> -->
    <!-- <div class="headerDropdown">
      <ul>
         <li><a href="https://app.bandwidth.com" class="headerLink" target="_blank">Voice & Messaging Dashboard</a></li>
         <li><a href="https://dashboard.bandwidth.com" class="headerLink" target="_blank">Phone Number Dashboard</a></li>
      </ul>
    </div> -->
   	<li><a href="https://support.bandwidth.com/access/unauthenticated" class="headerLink" target="_blank">Support</a></li>
   </ul>
</div>
