@charset "UTF-8";
/* CSS Document */

li.header{
   display: none !important;
}
.book-header h1{
   display: none;
}
li.chapter{
   display: block;
   width: 100%;
   /*height: 27px;*/
   clear:both;
   /*border-left: 3px solid #f3f3f3;*/
}
/*li.chapter:hover{
   border-left: 3px solid #00bcec;
}*/
li.chapter a{
   width: calc(100% - 27px);
   float: left;
}
li.chapter .articles li.chapter .articles a{
	width: 230px;
  padding-right: 0px;
}
